   @import './@/styles/_variables.scss';
   @import './@/styles/_keyframe-animations.scss';

   body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
       sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }

   code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
       monospace;
   }

   .ProseMirror {
     width: 100%;
   }

   /* tiptap 이미지 전체 폭으로 강제 확장 */
   .ProseMirror img {
     width: 100% !important;
     max-width: 100% !important;
     height: auto !important;
   }

   /* 이미지 감싸는 부모까지 확장 */
   .ProseMirror p,
   .ProseMirror figure,
   .ProseMirror div {
     width: 100% !important;
   }

   .ProseMirror img {
     display: block;
     width: 100%;
     height: auto;
   }

   @import './@/styles/_variables.scss';
   @import './@/styles/_keyframe-animations.scss';

   body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
       sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }

   code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
       monospace;
   }

   .ProseMirror {
     width: 100%;
   }

   /* ✅ tiptap 이미지 무조건 에디터 너비에 맞게 */
   .ProseMirror img {
     display: block;
     width: 100% !important;
     max-width: 100% !important;
     height: auto !important;
   }

   /* ✅ 이미지 부모도 강제로 가로 확장 */
   .ProseMirror p:has(img),
   .ProseMirror figure:has(img),
   .ProseMirror div:has(img) {
     width: 100% !important;
   }


   /* 이미지 줄이 p 태그에 들어가 있으면 같이 확장 */
   .ProseMirror p:has(img) {
     width: 100%;
   }

   .tiptap-image-upload-dropzone {
     display: none !important;
   }

   .ProseMirror strong,
   .ProseMirror b {
     font-weight: 700 !important;
   }

   /* 혹시 mark-button으로 들어가는 경우까지 커버 */
   .ProseMirror mark strong {
     font-weight: 700 !important;
   }